{% extends "Base.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Notificaciones/css/notificaciones.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->
{% block content %}

<div class="content-wrapper" style="min-height: 1302.12px;">
  <!-- Content Header (Page header) -->
  

  <!-- Main content -->
  <section class="content">
    <div class="row" style="padding: 20px 0 0 20px;">
      
      <div class="col-md-12">
        <div class="card card-primary card-outline">
          <div class="card-header">
            <h3 class="card-title">Notificaciones</h3>

            <div class="card-tools">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Buscar...">
                <div class="input-group-append">
                  <div class="btn btn-primary">
                    <i class="bx bx-search"></i>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="mailbox-controls">
              <!-- Check all button -->
              <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="bx bx-check-square"></i>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm">
                  <i class="bx bx-trash"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                  <i class="bx bx-show"></i>
                </button>
              </div>
              <!-- /.btn-group -->
              <button type="button" class="btn btn-default btn-sm">
                <i class="bx bx-sync"></i>
              </button>
              <div class="float-right">
                1-50/200
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm">
                    <i class="bx bx-chevron-left"></i>
                  </button>
                  <button type="button" class="btn btn-default btn-sm">
                    <i class="bx bx-chevron-right"></i>
                  </button>
                </div>
                <!-- /.btn-group -->
              </div>
              <!-- /.float-right -->
            </div>
            <div class="table-responsive mailbox-messages">
              <table class="table table-hover table-striped" style="margin-bottom: 0;">
                <tbody>
                  {% if notificaciones %}
                  {% for n in notificaciones %}
                <tr>
                  <td>
                    <div class="icheck-primary">
                      <input type="checkbox" value="{{n.id}}" id="check1">
                      <label for="check1"></label>
                    </div>
                  </td>
                  <td class="mailbox-name"><span 
                    class="badge bg-{% if n.tipo == 'Info' %}primary {% elif n.tipo == 'Warning' %}danger {% else %}secondary{% endif %}"
                    style="color: #fff;"
                    >
                    {{n.asunto}}
                  </span></td>
                  <td class="mailbox-subject">{{n.cuerpo}}
                  </td>
                  <td class="mailbox-attachment"></td>
                  <td class="mailbox-date">{{n.creado}}</td>
                  <td class="mailbox-star"><a href="#"><i class="bx bx-show text-success"></i></a></td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td>Sin notificaciones pendientes</td>
                </tr>
                {% endif %}
                </tbody>
              </table>
              <!-- /.table -->
            </div>
            <!-- /.mail-box-messages -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer p-0">
            <div class="mailbox-controls">
              <!-- Check all button -->
              <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="bx bx-check-square"></i>
              </button>
              <div class="btn-group">
                <button type="button" class="btn btn-default btn-sm">
                  <i class="bx bx-trash"></i>
                </button>
                <button type="button" class="btn btn-default btn-sm">
                  <i class="bx bx-show"></i>
                </button>
              </div>
              <!-- /.btn-group -->
              <button type="button" class="btn btn-default btn-sm">
                <i class="bx bx-sync"></i>
              </button>
              <div class="float-right">
                1-50/200
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm">
                    <i class="bx bx-chevron-left"></i>
                  </button>
                  <button type="button" class="btn btn-default btn-sm">
                    <i class="bx bx-chevron-right"></i>
                  </button>
                </div>
                <!-- /.btn-group -->
              </div>
              <!-- /.float-right -->
            </div>
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>
  
{% endblock %}