{% extends "Base Admin.html" %}
{% load static %}

<!-- Conatiner CSS -->
{% block css %}
<link rel="stylesheet" href=" {% static 'Plataforma/css/Crear Noticia.css' %}">
{% endblock %}
<!-- End Conatiner CSS -->

{% block content %}
<div class="container-form">
    <div class="form">
        <div class="contact-form">
            <span class="circle one"></span>
            <span class="circle two"></span>
            <form action="." method="POST">
                {% csrf_token %}
                <h3 class="title">Cambiar Configuración de Correo </h3>
                <div class="input-container">
                    {{form.correo}}
                    <label for="">Correo</label>
                    <span>Correo</span>
                </div>
                <div class="input-container">
                    {{form.contraseña_correo}}
                    <label for="">Contraseña</label>
                    <span>Contraseña</span>
                </div>
                <input type="submit" value="Guardar Cambios" class="btn1">
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- Conatiner JS -->
{% block js %}
<script src="{% static 'Plataforma/js/FormularioSelect.js' %}"></script>
{% endblock %}
<!-- End Conatiner JS -->