{% extends "Base Admin.html" %}
{% load static %}

    {% block css %}
    <link rel="stylesheet" href=" {% static 'css/Sitio Administrativo.css' %}">
    <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
    <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/buttons.bootstrap5.css' %}">
    <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/responsive.bootstrap5.css' %}">
    <link rel="stylesheet" href=" {% static 'css/datatable.css' %}">
    <link rel="stylesheet" href=" {% static 'libs/Chart/css/chart.css' %}">
    {% endblock %}
    

    {% block content %}
    <main class="content-inside px-3 py-2" >
        <section  id="tablaTramites">
            <div class="card p-2">
                <div class="card-header">
                    <h5 class="card-title">
                        Trámites
                    </h5>
                </div>
                    <table id="Tramites" class="display table table-striped table-hover table-primary" style="width:100%; height: 100%;">
                        <thead class="encabezado">
                            <tr>
                              <th scope="col" style="color: white; text-align: start;">Nombre</th>
                              <th scope="col" style="color: white; text-align: start;">Apellidos</th>
                              <th scope="col" style="color: white; text-align: start;">Carnet ID</th>
                              <th scope="col" style="color: white; text-align: start;">Teléfono</th>
                              <th scope="col" style="color: white; text-align: start;">Tipo de Trámite</th>
                              <th scope="col" style="color: white; text-align: start;">Estado del Trámite</th>
                              <th scope="col" style="color: white; text-align: start;">Operación</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td style="text-align: start;">Tiger Nixon</td>
                              <td style="text-align: start;">System Architect</td>
                              <td style="text-align: start;">01060578004</td>
                              <td style="text-align: start;">55568719</td>
                              <td style="text-align: start;">Certificacion del titulo</td>
                              <td style="text-align: start;"><select class="form-select">
                                <option value="">En espera</option>
                                <option value="">Por Aprobar</option>
                                <option value="">Listo</option>
                              </select></td>
                              <td style="text-align: center; font-size: 1.2rem;"><a class="iconos p-2" href="#"><i class="bx bx-trash"></i></a><a class="iconos p-2" href="#"><i class="bi bi-eye"></i></a></td>
                          </tr>
                        </tbody>
                    </table>
            </div>
          </section>
        </main>
    {% endblock %}

    {% block js%}
    <script src="{% static 'libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'libs/Datatable/JS/dataTables.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
    <!--Botones DataTables-->  
    <script src="{% static 'libs/Datatable/JS/dataTables.buttons.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/jszip.min.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/pdfmake.min.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/vfs_fonts.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/buttons.html5.min.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/buttons.print.min.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/bottons.colVis.min.js' %}"></script>  
<!--DataTables responsivo-->
    <script src="{% static 'libs/Datatable/JS/dataTables.responsive.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>  
<!--Inicializar DataTables-->
    <script src="{% static 'libs/Datatable/JS/Tramites.js' %}"></script>
    {% endblock %}
        
            


  

