{% extends "Base Admin.html" %}
{% load static %}

    {% block css %}
    <link rel="stylesheet" href=" {% static 'css/Sitio Administrativo.css' %}">
    <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/dataTables.bootstrap5.css' %}">
    <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/buttons.bootstrap5.css' %}">
    <link rel="stylesheet" href=" {% static 'libs/Datatable/CSS/responsive.bootstrap5.css' %}">
    <link rel="stylesheet" href=" {% static 'css/datatable.css' %}">
    <link rel="stylesheet" href=" {% static 'libs/Chart/css/chart.css' %}">
    {% endblock %}
    

    {% block content %}
    <main class="content-inside px-3 py-2" >
      <section  id="tablaUsuarios">
        <div class="card border-0">
            <div class="card-header">
                <h5 class="card-title">
                    <i class="bi bi-people-fill"></i>
                    Usuarios
                </h5>
            </div>
            
            <div class="card-body">
                <table id="Usuarios" class="display table table-striped table-hover table-primary" style="width:100%">
                    <thead class="encabezado">
                        <tr>
                            <th scope="col" style="color: white; text-align: start;">Usuario</th>
                            <th scope="col" style="color: white; text-align: start;">Teléfono</th>
                            <th scope="col" style="color: white; text-align: start;">Email</th>
                            <th scope="col" style="color: white; text-align: start;">Dirreccion</th>
                            <th scope="col" style="color: white; text-align: start;">Ultima Conexion</th>
                            <th scope="col" style="color: white; text-align: start;">Rol</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td style="text-align: start;">Tiger Nixon</td>
                            <td style="text-align: start;">55568719</td>
                            <td style="text-align: start;">leonardo@gmail.com</td>
                            <td style="text-align: start;">Calle R % Calle w y Calle 34</td>
                            <td style="text-align: start;">24-2-24</td>
                            <td style="text-align: start;"><select class="form-select">
                              <option value="">Usuario</option>
                              <option value="">Supervisor</option>
                              <option value="">Administrador</option>
                            </select></td>
                        </tr>
                      </tbody>
                </table>
            </div> 
            <div class="card-footer d-flex justify-content-end">
              <button class="btn btn-primary " > Añadir Usuario</button>
            </div> 
        </div>
      </section>
      </main>
    
    {% endblock %}

    {% block js%}
    <script src="{% static 'libs/Datatable/JS/jquery-3.7.1.js' %}"></script>
    <script src="{% static 'libs/Datatable/JS/dataTables.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/dataTables.bootstrap5.js' %}"></script>
    <!--Botones DataTables-->  
    <script src="{% static 'libs/Datatable/JS/dataTables.buttons.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/buttons.bootstrap5.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/jszip.min.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/pdfmake.min.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/vfs_fonts.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/buttons.html5.min.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/buttons.print.min.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/bottons.colVis.min.js' %}"></script>  
<!--DataTables responsivo-->
    <script src="{% static 'libs/Datatable/JS/dataTables.responsive.js' %}"></script>  
    <script src="{% static 'libs/Datatable/JS/responsive.bootstrap5.js' %}"></script>  
<!--Inicializar DataTables-->
    <script src="{% static 'libs/Datatable/JS/Usuarios.js' %}"></script>
    {% endblock %}
        
            


  

              
           
