{% extends "Base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href=" {% static 'css/Inicio.css' %}">
{% endblock %}

{% block content %}
              <section>
                <div class="container">
                  <div class="row mb-3 mt-3">
                    <div class="offset-lg-3 col-lg-6 text-center">
                      <h2 class="" style="color: #005296;">¿Quiénes somos?</h2> 
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="offset-lg-2 col-lg-3 col-md-4">
                      <div class="start-img mb-5  ">
                        <img src="static/img/logo.jpg" alt="" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-8 centrar-texto">
                      <h5>El Archivo Histórico Provincial de Holguín</h5>
                      <p>Es la institución del Ministerio de Ciencia, Tecnología y Medio Ambiente encargado de preservar la memoria histórica del territorio holguinero en función de brindar servicios de calidad y satisfacer las necesidades informativas de la ciudadanía, para ello cuenta con un personal completamente calificado.</p>
                    </div>
                  </div>
                </div>
              </section>
              <section>
                <div class="container">
                  <div class="row mb-3 mt-3">
                    <div class="offset-lg-3 col-lg-6 text-center">
                      <h2 class="" style="color: #005296;">¿Qué hacemos?</h2> 
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="offset-lg-2 col-lg-3 col-md-4">
                      <div class="start-imgen mb-5  ">
                        <img src="static/img/Jubilados.jpg" alt="" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-8 centrar-texto">
                      <h5>El Archivo Histórico Provincial de Holguín es el encargado de:</h5>
                      <ul>
                        <li>
                          <p>Organizar la documentación y las colecciones que constituyen el fondo documental del territorio holguinero.</p>
                        </li>
                        <li>
                          <p>Diseñar y ejecutar planes para la preservación, conservación y restauracón del patrimonio documental.</p>
                        </li>
                        <li>
                          <p>Atender a los usuarios, investigadores, funcionarios del territorio, estudiantes y particulares.</p>
                        </li>
                        <li>
                          <p>Custodiar, difundir, conservar y facilitar la documentación con valor científico cultural.</p>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </section>
              <section>
                <div class="container">
                  <div class="row mb-3 mt-3">
                    <div class="offset-lg-3 col-lg-6 text-center">
                      <h2 class="" style="color: #005296;">¿Qué queremos lograr?</h2> 
                    </div>
                  </div>
                  <div class="row align-items-center">
                    <div class="offset-lg-2 col-lg-3 col-md-4">
                      <div class="start-img mb-5  ">
                        <img src="static/img/eventos.jpg" alt="" class="img-fluid">
                      </div>
                    </div>
                    <div class="col-lg-5 col-md-8 centrar-texto">
                      <h5>El Archivo Histórico Provincial de Holguín</h5>
                      <p>Se propone ser una instituión de alto desempeño en la prestación de servicios informativos con un sistema de gestión integrado que incluye calidad, gestión de capital humano y control interno.</p>
                    </div>
                  </div>
                </div>
              </section>
            
              <section class="acordion">
                <div class="container">
                  <div class="row mb-3 mt-3">
                    <div class="offset-lg-3 col-lg-6 text-center">
                      <h2 class="" style="color: #005296;">Preguntas frecuentes</h2>
                    </div>
                  </div>
                  <div class="row alig-item-center">
                    <div class="offset-lg-2 col-lg-8 mb-5">
                      <div class="accordion row-acordion accordion-flush bg-primary shadow" id="accordionFlushExample" >
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                              ¿Qué hay en un Archivo Histórico?
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>En el Archivo Histórico se desarrollan actividades de organización, conservación, descripción y
                              difusión, del acervo documental, que se realizan con base a normas y técnica archivísticas internacionales, esto garantiza una buena clasificación, 
                              descripción y permanencia de los mismos.
                            </p></div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              ¿Cuánto tiempo dura un documento en el Archivo Histórico?
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body"><p>La información se conserva permanentemente.</p></div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                              ¿Cuándo un archivo pasa a ser histórico?
                            </button>
                          </h2>
                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">A partir de los 30 años de antigüedad de la documentación.</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            </section>
{% endblock %}
            